.WeatherForecast {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-around;
}

.col {
    flex: 1;
    margin: 0 5px;
}

.WeatherForecast-date {
    font-size: 16px;
    opacity: 0.8;
}

.WeatherForecast-icon {
    text-align: center;
    padding: 10px
}

.WeatherForecast-temperatures {
    font-size: 13px;
    color: #5f264a;
}

.WeatherForecast-temperature-min {
    opacity: 0.7;
    padding: 0 10px;
}